<div class="row" style="height: 300px;">
    <div class="col-md-3"></div>
    <div class="text-center col-md-6 border border-primary" >
        <div>
            <h2 class="text-center">Message</h2>
        </div>
        <div *ngFor="let chat of webSocketAPI.listMessage">
            <div>
                {{chat.textMessage}}
            </div>
        </div>        
    </div>
    <div class="col-md-3"></div>
</div>

<div class="text-center">
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Your name" [(ngModel)]="name">
    </mat-form-field>
    <input type="text" name="content" [(ngModel)]="content">
    <button (click)="sendMessage()" mat-flat-button color="warn" type="submit">Send</button>
</div>